<div class="main-div">
      <h1><a href="/movies">All movies</a></h1>
      <h1>Movie Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Title</td>
            <td>:</td>
            <td>{{movie.title}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>:</td>
            <td>{{movie.description}}</td>
          </tr>
          <tr>
            <td>Director</td>
            <td>:</td>
            <td>{{movie.director}}</td>
          </tr>
          <tr>
            <td>Year</td>
            <td>:</td>
            <td>{{movie.year}}</td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/movies/edit/{{movie._id}}">EDIT</a></h3>
      <form action="/movies/delete/{{movie._id}}" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
